<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>821653534141-s2didd19ppknvifr43g474q59r4hq0su.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.821653534141-s2didd19ppknvifr43g474q59r4hq0su</string>
	<key>API_KEY</key>
	<string>AIzaSyCsio3HfBa2xPv9KR-HlQBrIVBwcw-blwM</string>
	<key>GCM_SENDER_ID</key>
	<string>821653534141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gusta.App</string>
	<key>PROJECT_ID</key>
	<string>iosapp-95472</string>
	<key>STORAGE_BUCKET</key>
	<string>iosapp-95472.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:821653534141:ios:dbbc42723a9ff5bdc68ed4</string>
</dict>
</plist>